
<%- include('header') -%>
<%- include('navbar') -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <%- include('card',{id:1,cardname: "Zain",amount: 100}) -%>
    <%- include('card',{id:2,cardname: "MTN",amount: 200}) -%>
    <%- include('card',{id:3,cardname: "BBC",amount: 300}) -%>
    
  </div>
  

<%- include('footer') -%>

